<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find car)/config/robot_controller.yaml</parameters>
        </plugin>
    </gazebo>

    <!-- LIDAR SENSOR -->
    <gazebo>
        <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>
    </gazebo>

    <gazebo reference="lidar_link">
        <sensor name="lidar" type="gpu_lidar">
            <pose relative_to="lidar_link">0 0 0 0 0 0</pose>

            <topic>/scan</topic>
            <update_rate>10</update_rate>

            <gz_frame_id>lidar_link</gz_frame_id>

            <lidar>
                <scan>
                    <horizontal>
                        <samples>720</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.01</min>
                    <max>12.0</max>
                    <resolution>0.005</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </lidar>

            <always_on>1</always_on>
            <visualize>1</visualize>
        </sensor>
    </gazebo>

    <gazebo reference="rf_link">
        <mu1>1.5</mu1>
        <mu2>0.5</mu2>  <!-- MU2 TRÈS FAIBLE -->
        <fdir1>0 -1 0</fdir1>  <!-- Direction de friction primaire = axe de rotation -->
        <kp>10000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <material>Gazebo/Blue</material>
    </gazebo>
    
    <gazebo reference="rb_link">
        <mu1>1.5</mu1>
        <mu2>0.5</mu2>
        <fdir1>0 -1 0</fdir1>
        <kp>10000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <material>Gazebo/Blue</material>
    </gazebo>
    
    <gazebo reference="lf_link">
        <mu1>1.5</mu1>
        <mu2>0.5</mu2>
        <fdir1>0 1 0</fdir1>
        <kp>10000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <material>Gazebo/Blue</material>
    </gazebo>
    
    <gazebo reference="lb_link">
        <mu1>1.5</mu1>
        <mu2>0.5</mu2>
        <fdir1>0 1 0</fdir1>
        <kp>10000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <material>Gazebo/Blue</material>
    </gazebo>

</robot>